@import './variables.scss';

.header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 60px;
  justify-content: flex-start;
}

.logo {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  padding: 0 1em;

  :hover {
    opacity: 0.8;
  }

  &__text {
    color: $primary-accent-color;
    font-weight: 700;
    font-size: 1.4rem;
    font-style: bold;
    margin-left: .3em;
  }
}
